<div class="container mt-5">

  <app-header></app-header>

  <div class="container text-center mt-3">

    <div class="card mx-auto" style="width: 40rem;">
      <img class="card-img-top" src="{{serie.photo_link}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-dark text-capitalize d-inline-block font-weight-bolder">
          {{serie.nom}}</h5>
        <p class="d-inline-block">&nbsp;({{serie.dateSortie | date:'dd/MM/yyyy'}})</p>
        <p class="card-text">Saisons : {{serie.nbSaisons}}</p>
        <p class="card-text">Description : {{serie.desc}}</p>
        <p class="card-text">Critique : {{serie.critique}}/5</p>
        <fieldset>
          <legend class="text-primary">
            Commentaires
            <button class="btn btn-success btn-sm" (click)="onClickNewComment(serie.id)">&#x2b;
            </button>
          </legend>
          <div class="container" *ngFor="let com of serie.commentaires">
            <button (click)="clickToAccordion()" class="accordion btn btn-secondary btn-lg btn-block">
              <span class="text-dark">commentaire N°</span> : <span class="text-white bg-warning">{{com.id}}</span> -
              <span class="text-success text-capitalize bg font-italic font-weight-bold">{{com.auteur.name}}</span>
            </button>
            <div class="panel">
              <p>{{com.datecrea| date:'dd/MM/yyy'}} : <<{{com.comm}}>></p>
            </div>
          </div>
        </fieldset>
        <a routerLink="/series" class="card-link text-capitalize text-warning text-xl-center">Retour vers la liste des series</a>
      </div>
    </div>
  </div>
</div>
