<div class="container d-flex justify-content-between">

  <a routerLink="/serie/new">
    <button class="btn btn-dark btn-outline-success">Ajouter une serie</button>
  </a>

  <h1 class="text-white-50 font-weight-bolder">Top of Series</h1>

  <a routerLink="/profil" class="float-right">
    <button class="btn btn-dark m-2 btn-outline-light">Mon profil</button>
  </a>

  <button class="btn btn-outline-danger btn-sm"
          (click)="onClickSignOut()">Déconnexion
  </button>

</div>
