<div class="container mt-5">

  <app-header></app-header>

  <div class="container text-center mt-3">

    <form [formGroup]="editProfilForm"
          (ngSubmit)="onSubmitEditProfil()">

      <div class="form-group">
        <label for="name">
          Nom
        </label>
        <input type="text"
               id="name"
               class="form-control"
               formControlName="firstname">
      </div>

      <div class="form-group">
        <label for="password">
          Mot de passe
        </label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="editProfilForm.invalid">Modifier !</button>

      <br>

      <a routerLink="/series" class="card-link text-capitalize text-warning text-xl-center">Retour vers la liste des series</a>
    </form>

  </div>


</div>
<app-footer></app-footer>
