<div class="container mt-5">

  <app-header></app-header>

  <table class="table mt-3 table-hover table-dark">
    <thead>
    <tr>
      <th scope="col" class="text-center text-warning text-xl-center">Id</th>
      <th class="text-center text-warning text-xl-center">Titre</th>
      <th class="text-center text-warning text-xl-center">Date de sortie</th>
      <th class="text-center text-warning text-xl-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let serie of series">
      <th scope="row text-center">{{serie.id}}</th>
      <td class="text-center">{{serie.nom}}</td>
      <td class="text-center">{{serie.dateSortie | date:'dd/MM/yyyy'}}</td>
      <td class="text-center">
        <button class="btn btn-success m-2"
                (click)="onClickShowSerie(serie.id)">&#105;
        </button>
        <button class="btn btn-warning m-2"
                (click)="onClickEditSerie(serie.id)">&#9998;
        </button>
        <button class="btn btn-danger m-2"
                (click)="onClickDeleteSerie(serie.id)">&#10008;
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<app-footer></app-footer>
