<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <h5 class="card-title text-center">Connexion</h5>

          <div *ngIf="errorMsg" class="text-center text-danger m-1">{{errorMsg}}</div>

          <form class="form-signin"
                (ngSubmit)="onSignIn()"
                [formGroup]="authForm">

            <input type="text"
                   id="inputNom"
                   class="form-control"
                   placeholder="Nom"
                   formControlName="nom"
                   autofocus>
            <br>
            <input type="password"
                   id="inputPassword"
                   class="form-control"
                   placeholder="Mot de passe"
                   formControlName="password">
            <br>
            <button class="btn btn-lg btn-dark btn-block text-uppercase"
                    type="submit"
                    [disabled]="authForm.invalid">
              Me connecter
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
