<div class="container mt-5">

  <app-header></app-header>

  <div class="container text-center mt-3">

    <form [formGroup]="editSerieForm"
          (ngSubmit)="onSubmitEditSerie()">

      <div class="form-group">
        <label for="title" class="text-xl-center text-white font-weight-bold">Titre</label>
        <input type="text"
               id="title"
               class="form-control"
               formControlName="title">
      </div>
      <div class="form-group">
        <label for="dateSortie" class="text-xl-center text-white font-weight-bold">Date de sortie</label>
        <input type="date"
               class="form-control"
               id="dateSortie"
               formControlName="dateSortie">
      </div>
      <div class="form-group">
        <label for="nbsaison" class="text-xl-center text-white font-weight-bold">Nombre de saisons</label>
        <input type="number"
               id="nbsaison"
               min="0"
               class="form-control"
               formControlName="nbsaison">
      </div>
      <div class="form-group">
        <label for="desc" class="text-xl-center text-white font-weight-bold">Description</label>
        <input type="text"
               id="desc"
               class="form-control"
               formControlName="desc">
      </div>
      <div class="form-group">
        <label for="critique" class="text-xl-center text-white font-weight-bold">Critique (/5)</label>
        <input type="number"
               id="critique"
               min="0"
               max="5"
               class="form-control"
               formControlName="critique">
      </div>
      <div class="form-group">
        <label for="linkimg" class="text-xl-center text-white font-weight-bold">Lien de l'affiche</label>
        <input type="text"
               id="linkimg"
               class="form-control"
               formControlName="linkimg">
      </div>
      <button class="btn btn-success" type="submit" [disabled]="editSerieForm.invalid">&#10003;</button>
      <br>

      <a routerLink="/series" class="card-link text-capitalize text-warning text-xl-center">Retour vers les annonces</a>
    </form>

  </div>

</div>
<app-footer></app-footer>
