<div class="container mt-5">

  <app-header></app-header>

  <div class="container text-center mt-3">

    <form [formGroup]="newSerieForm"
          (ngSubmit)="onSubmitNewSerie()">

      <div class="form-group">
        <label for="title">Nom</label>
        <input type="text"
               id="title"
               class="form-control"
               formControlName="title">
      </div>
      <div class="form-group">
        <label for="dateSortie">Date de sortie</label>
        <input type="date"
               id="dateSortie"
               class="form-control"
               formControlName="dateSortie">
      </div>
      <div class="form-group">
        <label for="nbsaison">Nombre de saisons</label>
        <input type="number"
               id="nbsaison"
               class="form-control"
               formControlName="nbsaison">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text"
               id="desc"
               class="form-control"
               formControlName="desc">
      </div>
      <div class="form-group">
        <label for="critique">Critique (/5)</label>
        <input type="number"
               id="critique"
               class="form-control"
               formControlName="critique">
      </div>
      <div class="form-group">
        <label for="linkimg">Affiche(lien)</label>
        <input type="text"
               id="linkimg"
               class="form-control"
               formControlName="linkimg">
      </div>
      <button class="btn btn-success" type="submit" [disabled]="newSerieForm.invalid">&#10003;</button>

      <br>

      <a routerLink="/series" class="card-link text-capitalize text-warning text-xl-center">Retour vers la liste des series</a>
    </form>

  </div>


</div>
<app-footer></app-footer>
