<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oups!</h1>
        <h2>
          404 Page Introuvable</h2>
        <div class="error-details">
          Oups, une erreure est survenue, la page demandée n'a pas été trouvée !
        </div>
        <div class="error-actions">
          <a routerLink="/" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span>
            Page d'accueil
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
