/* You can add global styles to this file, and also import other style files */
/*
html,
body {
  height: 90%;
}

*/
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.footer {
  position: absolute;
  bottom: -10%;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
